img{
    object-fit: cover;

}
/* nav */
.logo-img{
     object-fit: cover;
  
}
.nav{
    background-color: rgb(32, 37, 80)!important;
}
.nav-pills{
padding-top: 45px;
font-size: 15px !important;
color: white !important;;
}
.nav-link{
    text-decoration: none !important;
    color: white !important;;

}

/* Landing */
.landing{
    object-fit: cover;
    background-image: url(./bg-img.jpg);
    width: 100%;
    height: 100%;
}


/* NEW CSS */

/* Ensure the body and html have no margins and take up the full height */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-background {
   
    overflow: hidden;
    z-index: -1; /* Ensure the video stays behind other content */
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    z-index: 1; /* Ensure content stays above the video */
    text-align: center;
    color: white;
    padding: 20px;
}

h1, p {
    margin: 0;
}
