@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Comfortaa:wght@700&family=Montserrat:wght@700&family=Poppins:wght@300&display=swap');

*{
    /* font-family: "Lato", sans-serif;
    font-weight: 100;
    letter-spacing: 0.03cap;
    font-style: normal;    margin: 0; */
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto
}

body{
  
    height: 100%;
    width: 100%;
    background-image: url(./images/bg-img.jpg);
    color: white;

}

.font{
    font-family: 'Comfortaa', sans-serif !important;
    font-weight: 1000;
    }

img{
    object-fit: cover;

}
/* nav */
.logo-img{
     object-fit: cover;
  
}
.nav{
    position:fixedx !important;
    background-color: rgb(42, 132, 187)!important;
}
.nav-pills{
padding-top: 45px;
font-size: 15px !important;
color: white !important;;
}
.nav-link{
    text-decoration: none !important;
    color: white !important;;

}

/* Landing */



.landing{
    object-fit: cover;
    /* background-image: url(./bg-img.jpg); */
    width: 100%;
}

/* About */

/* Courses */
.card{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    object-fit: cover;
}
.card-body{
    background-color: rgb(32, 37, 80)!important;
    object-fit: cover;
}
.card-img-top{
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid #ddd;

}
/* Opportunities */

.opportunity-item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}
.opportunity-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}
.opportunity-item h5 {
    margin: 0;
}


#submit-opportunity{
    overflow-y: hidden!important;
padding: 0 200px 0 200px !important;
    
}
#submit-opportunity form {
    
border-radius: 10px;

border: 1px solid white !important;
}