.landing{
background-image: url();
}
.logo-img{
     object-fit: cover;
  
}
.nav{
    background-color: black;
}
.nav-pills{
padding-top: 45px;
font-size: 20px !important;
color: white !important;;
}
.nav-link{
    text-decoration: none !important;
    color: white !important;;

}